@model IEnumerable<RobynHandMadeSoap.Models.NewsModel.news>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<script src="~/Scripts/ImageUpload.js"></script>
<script src="https://raw.github.com/arnklint/jquery-contextMenu/master/jquery.contextMenu.js"></script>

<style>
    .myDateStyle {
        background-color: #808F36;
        border: 1px blue solid;
        background: url("Content/themes/base/images/ui-bg_glass_75_green_1x400.png") repeat-x scroll 50% 50% #808a36;
    }
    td.myDateStyle a {
        background-color: #808F36;
        border: 1px blue solid;
        background: url("Content/themes/base/images/ui-bg_glass_75_green_1x400.png") repeat-x scroll 50% 50% #808a36  !important;
        
    }
</style>
<section class="JqueryDatePicker" style="margin-bottom:10px;">
    <div>
        <div id="datepicker"></div>
    </div>
</section>
<img class="intLink" style="display:none;" title="Hyperlink" onclick="addLink();" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />
<section class="Content_wrapper">
    <section class="Content_Title">
        <p class="Content_Title_Text">News</p>
    </section>
    <section id="Content_Text_wrapper" class="Content_Text_wrapper" style="float: none;overflow-y: scroll">
        <div id="newsReplace">
            @foreach (var newsItem in Model){
                Html.RenderPartial("GridData", newsItem);
            }
        </div>

    </section>
    <section id="savedSection" style="margin-top: 40px; text-align: center; font-size: 16pt; color: grey; float: right;clear:both;">
        <div class="hidden changed">Item Changed</div>
        <a id="Edit" class="NiceButton itemEdit" href="#" >
            <span>Edit</span>
        </a>
        <a id="Create" class="NiceButton ProductCreate" href="#" >
            <span>New</span>
        </a>
        <a class="NiceButton ProductEdit itemDelete" href="#"   title="Click to delete the News Item">
            <span>Delete</span>
        </a>
    </section>

    <div class="ProductEdit"></div>
    <ul id="context-menu-1" class="context-menu" style="display:none;">
      <li class="custom-class1"><a href="#">Add Link</a></li>
    </ul>

</section>




<script>

    function setupPopupAddLink(setup) {
        if (setup) {
            $("#editDetail").contextMenu('context-menu-1', {
                'Add Link': {
                    click: function(element){  // element is the jquery obj clicked on when context menu launched
                        addLink();
                    
                    },
                    klass: "custom-class1" // a custom css class for this menu item (usable for styling)
                }
            },
         {
      
             disable_native_context_menu: false,

             leftClick: false // trigger on left click instead of right click
         })
            }else {
            //Remove Context Menu
        }
    }
    function addLink() {
        var selected = document.getSelection();
        if (selected != ''){
            var sLnk=prompt('Write the URL here','http:\/\/');
        
            if(sLnk&&sLnk!=''&&sLnk!='http://'){
                document.execCommand("insertHTML",false,"<a href='"+sLnk+"'>"+selected+"</a>");
            }
        }
    }
    var myEditableItem = "";
    function formatDoc(sCmd, sValue) {
        document.execCommand(sCmd, false, sValue); 
        
    }

    var testing = false;
    if (document.location.hash == "#testing") {
        testing = true;
    }
    function getDatePickerDate(format) {
        if (typeof(format) == "undefined") {
            format = 'dd M yy';
        }
        var curDate = $("#datepicker").datepicker("getDate");
        return {
            "dateString": $.datepicker.formatDate(format, curDate),
            "dateObject": curDate
        };
    }

    function getDateString() {
        return getDatePickerDate().dateString;
    }

    //Convert HTML tags <TAG> to a safe post version [TAG]
    function freeTextToPost(textToConvert){
        return textToConvert.replace(/<([^>]*)>/g,'[$1]');
    }

    function ask(question) {
        //var inputedData =  prompt ("type something!", "" );
        if (confirm(question)) {
            return true
        }
        else {
            return false;
        }
    };

    function ShowFirstNewsItem() {
        $(".News_Item").first().show().addClass("CurrentItem");
    }

    var imgUploadParams = {
        parent: ".News_Item",
        uriInputSelector: ".DBImageURIText",
        previewSelector: $("#Content_Text_wrapper"),
        imgPrefix: "News-",
        useDynamicDate: true,
        dateSelector: getDateString,
        fileNameField: "Date",
        postURL: "/News/Upload/",
        savePathRelative:  "/News/",
        imgWidth: 170,
        imgHeight: 225,
        savePathRelativeThumb: "",
        imgThumbWidth: 0,
        imgThumbHeight: 0,
        imgDropped: new $.Deferred()
    };
    $('.itemDelete').click(function () { deleteItem($(".CurrentItem").attr("data-pkey") /* ID GOES HERE */, $(this),$(".CurrentItem") /*DELTED_ITEM */); return false; });
    $('#Save').click(function() {saveEdit($(".editedItem").attr("data-pkey")); return false;});
    $('#Create').click(function() {newOrSave($(".editedItem")); return false;});
    $('#Edit').click(function() {createEditItem($(".CurrentItem")); return false;});
    $('.On').click(function() {$('.Off').removeClass('active');$(this).addClass('active'); return false;});
    $('.Off').click(function() {$('.On').removeClass('active');$(this).addClass('active'); return false;});
    var spinner = '<img id="AjaxSpinner" src="/Content/Images/ajax-loader.gif"/>'
    var editableImageContainer = "Content_Text_wrapper";


    //Decide whether to create new item, or save edited/new item
    function newOrSave(item) {
        var id = item.attr("data-pkey");
        if (id == 0) {
            //Save
            saveNew(id);
        }else {
            if (item.hasClass("editedItem")) {
                saveEdit(id);
            }else {
                createNewItem($(".Content_Text_wrapper"),"#newsReplace");
            }
        }
    }

    //Delete Products using Ajax to post changes and remove item from screen
    function deleteItem(id, deleteLink,deletedItem) {
        var editing = false;
        var editText = "delete";
        if ($(".editedItem").length > 0) {
            editing = true;
            editText = "cancel";
        }
        //var spinner = '<img id="AjaxSpinner" src="/Content/Images/ajax-loader.gif"/>'
        if (!ask("Do you want to " + editText +" this News Item?")){
            return false;
        }

        //If Editing OR NEW Item
        if (editing) {
            //If NEW item
            if (id == 0) {
                $(".CurrentItem").remove();
                clearUnloadWarning(false); //always clear unload warning
                ShowFirstNewsItem();
                changeButtons("Delete");
            }else{
                //GET Gird Data for this ROW
                $.get('@Html.Raw(Url.Action("RowData", new { id = "__ID__" }))'.replace(/__ID__/, id))
                    .done(function (data) {
                        $(".CurrentItem").replaceWith(data) ;             
                        clearUnloadWarning(false); //always clear unload warning
                        ShowFirstNewsItem();
                        changeButtons("Delete");})
                .fail(function (data, textStatus, jqXHR) {alert("Cancel Failed: " + textStatus);});
            }

            return true;
        }
        
        deleteLink.append(spinner);

        $.post('@Html.Raw(Url.Action("Delete", new { id = "__ID__" }))'.replace(/__ID__/, id))
                .always(function (response) {
                    $('#AjaxSpinner').remove();
                })
                .success(function () {
                    //var deletedItem = deleteLink.parent().parent('li');
                    deletedItem.remove();
                    ShowFirstNewsItem();
                    changeButtons("Delete");

                })
                .fail(function () {
                    alert("Nothing has been changed.  Please refresh page and try again");
                });
            //Stop link click default action
            return false;
        }


    //Find parameters from HTML for creating AJAX MVC post parameters
    function getPostParams() {
        //Basic Divs/HTML elements
        var first_set =  $('[data-name]').filter(':not(:checkbox), :checked').map(function () {
            var input = $(this);
            return { name: input.attr('data-name'), value: freeTextToPost(input.html().replace(/<br>$/, '').replace(/<br>/g,'[br]')) };
        }).get();
        //Form Input elements
        var second_set = $('[data-name-val]').filter(':not(:checkbox), :checked').map(function () {
            var input = $(this);
            return { name: input.attr('data-name-val'), value: freeTextToPost(input.val().replace(/<br>$/, '').replace(/<br>/g,'[br]')) };
        }).get();
            
        //Check Boxes - Stock Quantity
        var third_set = $('[data-name-check].active').map(function () {
            var input = $(this);
            //Stock value of 0 is Out of Stock.  100 is the default in stock amount.
            //return { name: input.attr('data-name-check'), value: input.filter(':checked').val()?100:0 };
            return { name: input.attr('data-name-check'), value: input.attr('data-val') };
        }).get();
        return first_set.concat(second_set).concat(third_set);
    }
    
    //Hadle Data Change Warnings.
    //When a change has been made unloadWarningSet = true warn the user when leaving the page or refreshing e.t.c
    var unloadWarningSet = false;
    
    //Called when no changes have been made, page refresh, data saved
    function clearUnloadWarning(testing) {
        if (unloadWarningSet) {
            unloadWarningSet = false;
            if (!testing) {
                $('.changed').hide();
                $(window).unbind('beforeunload');
            }
        }
    };

    //Called when changes have been made
    function setUnloadWarning(testing) {
        if (!unloadWarningSet) {
            unloadWarningSet = true;
            if (!testing) {
                $('.changed').show();
                $(window).bind('beforeunload', function() {
                    return 'You have unsaved changes. Are you sure you want to leave?';
                });
            }
        }
    };

    //Save New Products using Ajax to post changes and replace the editable section with our results
    function saveNew(id) {
        var postParams = getPostParams();
        //postParams.push({ name: 'Id', value: id });
        postParams.push({ name: 'news.Id', value: id});
            var editableSection = $('#editableSection');
            $("#savedSection").append(spinner);
            $.post('@Html.Raw(Url.Action("Create", new { id = "__ID__" }))'.replace(/__ID__/, id), postParams)
                .always(function (){
                    $('#AjaxSpinner').remove();
                })
                .success(function (newSection) {
                    editableSection.replaceWith(newSection);
                    clearUnloadWarning(testing);
                    changeButtons("Delete");
                    ShowFirstNewsItem();
                    //$(".News_Item").show();

                })
                .fail(function () {
                    alert("Nothing has been saved.  Please fix any errors and try again");
                    editableSection.addClass('error');
                });
    }

    //Save New Products using Ajax to post changes and replace the editable section with our results
    function saveEdit(id) {
        var postParams = getPostParams();
        //postParams.push({ name: 'Id', value: id });
        postParams.push({ name: 'news.Id', value: id});
        var editableSection = $('#editableSection');
        $("#savedSection").append(spinner);
        $.post('@Html.Raw(Url.Action("Edit", new { id = "__ID__" }))'.replace(/__ID__/, id), postParams)
                .always(function (){
                    $('#AjaxSpinner').remove();
                })
                .success(function (newSection) {
                    editableSection.replaceWith(newSection);
                    clearUnloadWarning(testing);
                    changeButtons("Save");
                    ShowFirstNewsItem();
                    //$(".News_Item").show();

                })
                .fail(function () {
                    alert("Nothing has been saved.  Please fix any errors and try again");
                    editableSection.addClass('error');
                });
    }

    function  changeButtons(changeType){
        switch (changeType){
            case "New": 
                //Change Delete to Cancel
                //Hide Edit
            case "Edit":
                //Change Delete to Cancel
                //Hide Edit
                $('#Create span').text("Save");
                $('.itemDelete span').text("Cancel");
                $('#Edit').hide();
                break;
            case "Save":
                //Show Edit/New/Delete
            case "Delete":
                //Show Edit/New/Delete
                $('#Create span').text("New");
                $('.itemDelete span').text("Delete");
                $('#Edit').show();
                $(".intLink").hide();
                setupPopupAddLink(false);
                break;
            default:
                alert("NONE");
        }
    }

    function createNewItem(itemContext,itemContainer) {
        var newItemSuccess = new $.Deferred();
        $.get('@Html.Raw(Url.Action("Create", new { newsDate = "__newsDate__" }))'.replace("__newsDate__",getDatePickerDate().dateString), function(newItem) {
                $(".CurrentItem").hide().removeClass("CurrentItem");
                itemContext.find(itemContainer).prepend(newItem);
                setUnloadWarning(testing);
                changeButtons("New");
                
                myEditableItem = document.getElementById("editDetail");
                document.execCommand("insertBrOnReturn",true,"");
                setupPopupAddLink(true);
                $(".intLink").show();
                newItemSuccess.resolve();
                /*setupDropable(emptyRow);*/
            });
            return newItemSuccess;
            //setUnloadWarning();
        }

        function createEditItem(itemToEdit) {
            var id = itemToEdit.attr("data-pkey");

            var newItemSuccess = new $.Deferred();
            $.get('@Html.Raw(Url.Action("Edit", new { Id = "__ID__" }))'.replace("__ID__",id), function(newItem) {
                itemToEdit.replaceWith(newItem);
                setUnloadWarning(testing);
                changeButtons("Edit");
                myEditableItem = document.getElementById("editDetail");
                document.execCommand("insertBrOnReturn",true,"");
                setupPopupAddLink(true);
                $(".intLink").show();
                newItemSuccess.resolve();
                /*setupDropable(emptyRow);*/
            });
            return newItemSuccess;
            //setUnloadWarning();
        }

    $(function () {
        


        imgUploadParams.imgDropped.done(function(objectDropped){objectDropped.append(spinner);$('.ProductEdit').hide();});
        //imgUploadParams.promise.done(function(){alert("SUCCESS");});
        //imgUploadParams.promise.fail(function(){alert("FAIL");});
        
        setupDropable(editableImageContainer,imgUploadParams)
            .done(function(){$('#mainImage').attr("src",$('#pImageURI').val());})
            .fail(imageDropFail)
            .always(imageDropFinished);


        function imageDropFail(reason){
            alert("The image upload failed because -" + reason);
            imgUploadParams.previewSelector.find("img#preview").attr("src","/no_image");
        };

        //Cleanup after success or fail of Image Load
        function imageDropFinished(){
            $('#AjaxSpinner').remove();
            $('.ProductEdit').show();
            $("#Content_Text_wrapper").parent().find(".dropbox").css("background-color", "white");

            //Need to reset all the promises attached to the drop box.
            imgUploadParams.imgDropped = new $.Deferred();
            imgUploadParams.imgDropped.done(function(objectDropped){objectDropped.append(spinner);$('.ProductEdit').hide();});
            resetPromise()
                .done(function(){$('#mainImage').attr("src",$('#pImageURI').val());})
                .fail(imageDropFail)
                .always(imageDropFinished);
        };
        
        ShowFirstNewsItem();


        //Array of dates which have news articles, defaulted so we have at least one item
        var newsDates = ['01/11/1980'];
        var array = @Html.Raw(Json.Encode(@ViewBag.Array));

        for(var i = 0; i < array.length; i++) {
            newsDates[i] = array[i];
        }
        
        //Highlight dates with news articles
        function highlightDays(date) {
            for (var i = 0; i < newsDates.length; i++) {
                if (new Date(newsDates[i]).toString() == date.toString()) {
                    return [true, 'myDateStyle'];
                }
            }
            return [true, ''];

        }

        //$(".News_Item").hide();
        //POST AJAX NEW and ADD TO CONTENT
        //createNewItem($(".Content_Text_wrapper"),"#newsReplace");

        //Show news item when date selected in date picker
        function showNews(date){
            if (unloadWarningSet) {
                //We are creating/editing an item.  Ask to change date
                if (ask("Do you want to change the date?")){
                    //Change Date
                    var newDate = ordinaliseDate(getDatePickerDate());
                    $(".newsDate").text(newDate);
                }else{
                    //Go to old news Aritcle
                    clearUnloadWarning(false); //Always change unload warning regardless of testing
                    showNews(date); //Re call this procedure to change the news date as per normal
                }
                    
            }else if ($.inArray(date,newsDates) >= 0){
                $(".CurrentItem").hide().removeClass("CurrentItem");
                var newsId = "#" + date.replace(/ /g,"-")
                $(newsId).show().addClass("CurrentItem");

            }else{
                if (ask("Do you want to create a new article?")){
                    
                    //POST AJAX NEW and ADD TO CONTENT
                    createNewItem($(".Content_Text_wrapper"),"#newsReplace");
                    //$('.News_Item').first().add("<p>test</p>");
                }
                //Offer to Create New NEWS Item!
            }
        }

        function ordinaliseDate(date) {
            //Pick up date/month/year from JQuery DatePicker format  "dd M yy" -> "01 Jan 2013" with leading spaces (or whatever char we use)
            var intDay = date.dateObject.getDate();
            var ordMonth = " " + date.dateString.substr(3,3) + " ";
            var intYear = date.dateObject.getFullYear();
            //var intDay = parseInt(ordDay);
            var dayOrdinal = "";
            switch (intDay % 10)
            {
                case 1:
                    dayOrdinal =   "st";
                    break;
                case 2:
                    dayOrdinal =   "nd";
                    break;
                case 3:
                    dayOrdinal =   "rd";
                    break;
                default:
                    dayOrdinal =   "th";
            };
            return intDay + dayOrdinal + ordMonth + intYear;
        };



        //Set up the JQuery Date Picker object
        $("#datepicker").datepicker({
            defaultDate: "-2m",
            numberOfMonths: 3,
            beforeShowDay: highlightDays,
            onSelect: showNews,
            dateFormat: "dd M yy"
        });

        //Auto create NEW item if testing
        if (testing) {
            alert("Testing");
            //$(".News_Item").hide();
            $(".CurrentItem").hide().removeClass("CurrentItem");
            createNewItem($(".Content_Text_wrapper"),"#newsReplace").done(function () {
                $("#pImageURI").val("/Images/News/1.jpg");
                //$(".detail").text("TESTING");
            });
        }





    });
</script>