@model List<RobynHandMadeSoap.Product_Categories>

     @Html.EditorFor(m => m)

@* @if (Model != null )
{
    @Html.EditorFor(m => m)
}else {
    @Html.EditorFor(x => x)
    @*
    <tr data-pkey="">
            <td>
                @Html.EditorFor(m => m[0].Name)
                @Html.ValidationMessageFor(m => m[0].Name) 
            </td>
                @Html.EditorFor(m => m[0].Image_Uri, "Image_Uri")
@           <td style="display:none" class="DBImageURIText">
                @Html.EditorFor(m => m[0].Image_Uri)
                @Html.ValidationMessageFor(m => m[0].Image_Uri)
            </td>
            <td style="width:200px;height:80px;position: relative;">
                <div id="dropbox" class="dropbox" style="width: 95px;height: 65px;border:2pt solid grey;margin-left: 5px;position: absolute;margin-top: -40px;font-size: 14pt;"><span id="droplabel" style="top: 0;">Drop file here...</span></div>
                <img id="preview" src="@Html.DisplayFor(m => m[0].Image_Uri)" alt="[ preview will display here ]" width="80" height="65" style="font-size:10pt; border:2pt solid grey;margin-left: 105px;position: absolute;margin-top: -40px;" />
            </td>@
            <td>
                @Html.EditorFor(m => m[0].Description)
                @Html.ValidationMessageFor(m => m[0].Description)
            </td>
            <td>
                @if (ViewBag.ButtonName == "Create")
                {
                        <button class="createRowCat">Create</button><button class="cancelEditRowCat">Cancel</button>
                } else {
                        <button class="editRowCat">Save</button><button class="cancelEditRowCat">Cancel</button>
                }
            </td>
    </tr>
}*@